################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/CertificateManagerApp/.vs/CertificateManagerApp
/.vs
/src/CertificateManagerApp/CertificateManagerApp/obj
